html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container {
    align-items: center;
    margin-top: 50px;
    border: 2px solid black ;
    padding: 20px;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(219, 219, 219);
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #45a049;
    
}

.box1 {
    width: 100px;
    height: 100px;
    color: white;
    background-color: rgb(0, 0, 0);
    margin: 10px;
    place-items: center;
    display: flex;
    justify-content: center;
}

.boxes {
    border: BLACK,5px;
    display: flex;
    justify-content: center;
}

.box2 {
    width: 100px;
    height: 100px;
    color: white;
    background-color: rgb(255, 0, 0);
    margin: 10px;
    place-items: center;
    display: flex;
    justify-content: center;
    margin-top: var(rood);
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8f8f8f;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
